* {
	margin: 0;
	padding: 0;
}
body {
	font: 14px helvetica, arial, freesans, clean, sans-serif;
	color: black;
	background-color: #F8F8F8;
}
.body {
	padding: 0 1em 1em 1em;
	margin: 0 auto 0 160px;
	width: auto;
}
.date {
	font-size: xx-small;
}
#menu {
	position: absolute;
	left: 40px;
	top: 40px;
}
.clear {
	clear: both;
}
p {
	margin: 1em 0;
	line-height: 1.5em;
}
table {
	border-collapse: separate;
	border-spacing: 4px 0;
	font-size: inherit;
	margin: 1em;
}
table th {
	border-bottom: 1px solid #bbb;
	padding: .3em .3em;
}
table th[colspan]:not(:empty) {
	border-right: 1px solid #bbb;
	border-left: 1px solid #bbb;
}
table td {
	border-bottom: 1px solid #ddd;
	padding: .3em 1em;
}
table td p {
	margin: 0;
}
/*table tbody tr:nth-child(2n+1) {
	background: #eee;
}*/
tr:hover {
	background: #eeeeee;
}
select, option {
	padding: 0 .25em;
}
pre, code {
	font: 12px Menlo, Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}
pre {
	margin: 1em 0;
	font-size: 12px;
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 5px;
	line-height: 1.5em;
	color: #444;
	overflow: auto;
}
pre code {
	padding: 0;
	font-size: 12px;
	background-color: #eee;
	border: none;
}
code {
	font-size: 12px;
	background-color: #f8f8ff;
	color: #444;
	padding: 0 .2em;
	border: 1px solid #dedede;
}
img {
	border: 0;
	max-width: 100%;
}
a {
	color: #3f51b5;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a[href^="http"]:hover { /* External links */
	color: #f44336;
}
h1 {
	font-size: 240%;
	margin-top: 1em;
}
h2 {
	font-size: 210%;
	margin-top: 0.7em;
}
h3 {
	font-size: 180%;
	margin-top: 0.4em;
}
h4 {
	font-size: 150%;
	margin-top: 0.2em;
}
hr {
	border: 1px solid #ddd;
}
ul, ol {
	margin: 0.5em 0 0.5em 2em;
}
li {
	margin: 0.3em;
}
li:last-child {
	margin-bottom: 0.8em;
}
ul ul, ul ol, ol ol, ol ul {
	margin-top: 0;
	margin-bottom: 0;
}
blockquote {
	margin: 1em 0;
	border-left: 5px solid #ddd;
	padding-left: .6em;
	color: #555;
}
dt {
	float: left;
	font-weight: bold;
}
dt:after{
	content: ":";
}
dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
}
sup {
	font-size: 0.83em;
	vertical-align: super;
	line-height: 0;
}
.right {
	text-align: right;
}
.nowrap {
	white-space: nowrap;
}
tr:target {
	color: #eceff1;
	background-color: #607d8b;
}
tr:target:hover {
	background-color: #455A64;
}
tr:target a {
	color: #c5cae9;
}
#banner {
	display: block;
	margin: 0;
	padding: 0;
	height: 40px;
	width: 100%;
	background: #cfd8dc;
}
.floatleft {
	float: left;
}
div.hidden {
	clear: both;
	display: none;
}
div:target {
	display: block;
}

::-moz-selection { /* Code for Firefox */
	background: #cfd8dc;
}
::selection {
	background: #cfd8dc;
}
/* ------------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
	.body {
		width: auto;
		margin: 0;
		padding: 0 0.2em 0 0.2em;
	}
	#menu {
		display: none;
		left: 0.2em;
		width: 60%;
		border-right: solid 1px #bbb;
		border-bottom: solid 1px #bbb;
	}
	#banner:hover #menu {
		display: inherit;
		background-color: #f8f8f8;
	}
	table { margin: 0; }
	table td { padding: 0.2em; }
}
@media print {
	body {
		background-color: #ffffff
	}
	table, pre {
		page-break-inside: avoid;
	}
	pre {
		word-wrap: break-word;
	}
}
